matplotlib==3.10.0
mplfinance==0.12.10b0
numpy==2.2.1
pandas==2.2.3
pandas_ta==0.3.14b0
scipy==1.14.1
streamlit
yfinance==0.2.51
streamlit-aggrid
streamlit-autorefresh
altair
fpdf
xlsxwriter
plotly
concurrent
functools